.grid-section
{
    margin-top: 40px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.task-name, .task-date
{
    font-family: var(--font);
    font-size: 16px;

    padding: 11px 11px;
    border: solid 1px var(--purple);
    border-radius: 8px;
}

.delete-button
{
    background-color: var(--purple);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    color: white;

    padding: 12px 12px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.done-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.logo-gray
{
    width: 300px;
}
