header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;

    background-color: white;
}

.checkpg-logo
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.checkpg-name
{
    font-size: 50px;
    font-weight: 700;
    color: var(--blue);
}